<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Bridge App</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/e72a797225.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
</head>
<body>

    <div class="main">

        <div class="main__left">

            <div class="main__videos">
                <div id="video-grid">
                    <div class="notify"><span id="notifyType"></span></div>
                </div>
                <div class="main__participants_popup_container">
                    <ul class="main__participants_list">
                    </ul>
                </div>
            </div>

            <div class="main__controls">

                <div class="main__controls__block">

                    <div data-modal-target class="main__controls__button main__participants_button">
                        <i class="fas fa-user-friends"></i>
                        <span class="lang" key="participants">Participants</span>
                    </div>

                    <div class="main__controls__button main_theme_button">
                        <i id="themeIcon" class="fa-solid fa-moon"></i>
                        <span class="lang" key="theme">Theme</span>
                    </div>

                    <div onclick="copyToClipboard()" class="main__controls__button main__share_button">
                        <i class="fa-solid fa-share"></i>
                        <span class="lang" key="share">Share Link</span>
                    </div>

                </div>

                <div class="main__controls__block">

                    <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                        <i id="microIcon" class="fa-solid fa-microphone"></i>
                        <span class="lang" key="mute">Mute</span>
                    </div>

                    <div onclick="playStop()" class="main__controls__button main__video_button">
                        <i id="videoIcon" class="fas fa-video"></i>
                        <span class="lang" key="video">Video</span>
                    </div>

                    <div class="main__controls__button main__chat_button">
                        <i class="fas fa-comment-alt"></i>
                        <span class="lang" key="chat">Chat</span>
                    </div>

                    <div onclick="openPopUp()" class="main__controls__button main__settings_button">
                        <i class="fa-solid fa-gear"></i>
                        <span class="lang" key="settings">Settings</span>
                    </div>

                    <div class="popup">
                        <button onclick="closePopUp()" id="close">&times;</button>
                        <h3 class="lang" key="languageHeader">Settings</h3>
                        <hr>
                        <div class="popup_container">
                            <div class="changeLanguage">
                                <p class="lang" key="langSetting">Language</p>
                                <div class="dropdown">
                                    <div class="dropbtn">EN</div>
                                        <div class="dropdown-content">
                                            <div class="lang_en" onclick="makeLangEN()">
                                                <a id="en" class="translate" href="#">EN</a>
                                            </div>
                                            <div class="lang_ru" onclick="makeLangRU()">
                                                <a id="ru" class="translate" href="#">RU</a>
                                            </div>
                                        </div>
                                </div>
                            </div>    
                            <div class="changeUsername">
                                <p class="lang" key="usernameSetting">Username</p>
                                <input type="text" autocomplete="off" id="change_usernameInput" placeholder="">
                            </div>
                            <div class="change_usernameInfo">Type your username and click "Enter"</div>
                        </div>
                    </div>

                    <div onclick="closePopUp()" id="overlay"></div>

                    <div class="main__username_popup">
                        <h3>Welcome to Brigde!</h3><br>
                        <img src="./bridge_icon.png" alt="Bridge Logo" height="100px" width="100px">
                        <p>Please, write your username</p>
                        <span class="main__username_popup_info">You can change it in settings later</span>
                            <div class="main__username_popup_container">
                                <input id="usernameInput" type="text" autocomplete="off" value="" placeholder="Type here">
                            </div>
                            <div onclick="getUsername()" class="main__username_popup_container_start-btn">Start</div>
                    </div>

                    <div id="usernameOverlay"></div>

                </div>

                <div class="main__controls__block">
                    <div onclick="leaveMeeting()" class="main__controls__button main__leave_meeting">
                        <span class="leave_meeting lang" key="leaveMeeting">Leave Meeting</span>
                    </div>
                </div>

            </div>

        </div>

        <div class="main__right">

            <div class="main__header">
                <h6 class="lang" key="chatHeader">Chat</h6>
            </div>

            <div class="main__chat_window">
                <ul class="messages">
                </ul>
                <div id="feedback"></div>
            </div>

            <div class="main__message_container">
                <input id="chat_message" class="lang" key="typeMessage" type="text" autocomplete="off" placeholder="Type message here...">
                <i class="fa-solid fa-face-smile main__message_emoji_btn"></i>
            </div>

        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>