:root {
    --var-main-videos-bg: black;
    --var-main-controls-fc: #D2D2D2;
    --var-main-controls-bg: #1C1E20;
    --var-main-header-fc: #f5f5f5;
    --var-main-right-bg: #242324;
    --var-main-controls-hover: #343434;
    --var-main-right-border: #343434;
    --var-main-user-fc: #00cbe6;
    --var-main-chat-ifno-fc: #a1a1a1;
    --var-main-notify-bg: rgba(104, 255, 124, 0.377);
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--var-main-videos-bg);
}

*,
::after,
::before {
    box-sizing: content-box;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    max-height: 600px;
}

video {
    background: var(--var-main-videos-bg);
    transform: scale(-1, 1);
    height: 300px;
    width: 400px;
    object-fit: cover;
    transition: 0.5s;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    transition: 0.03s;
}

.main__right {
    display: flex;
    flex: 0.2;
    flex-direction: column;
    background-color: var(--var-main-right-bg);
    border-left: 1px solid var(--var-main-right-border);
    overflow-wrap: anywhere;
    transition: 0.2s;
}

.hide_chat {
    visibility: hidden;
    display: none;
}

.hiden_chat {
    flex: 2;
    transition: 1s;
}

.main__videos {
    display: flex;
    flex-grow: 1;
    background-color: var(--var-main-videos-bg);
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.main__videos::-webkit-scrollbar {
    width: 0;
}

.main__controls {
    display: flex;
    background-color: var(--var-main-controls-bg);
    color: var(--var-main-controls-fc);
    padding: 5px;
    justify-content: space-between;
    transition: 0.2s;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    font-size: 0.87rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 95px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: var(--var-main-controls-hover);
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 23px;
}

.leave_meeting {
    color: #EB534B;
}

.main__header {
    color: var(--var-main-controls-fc);
    color: var(--var-main-header-fc);
    text-align: center;
    padding-top: 15px;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.main__chat_window ::-webkit-scrollbar {
    width: 0;
}

.main__message_container {
    display: flex;
    padding: 25px 12px;
}

.main__message_container input {
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: none;
    color: var(--var-main-header-fc);
}

.messages {
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
    font-size: 0.93rem;
    color: var(--var-main-header-fc);
    list-style: none;
}

.info {
    color: var(--var-main-chat-ifno-fc);
}

.unmute,
.stop {
    color: #CC3B33;
}

user {
    text-align: center;
    margin-right: 5px;
}

input[type=checkbox] {
    height: 23px;
    width: 23px;
    color: var(--var-main-controls-fc);
}

.theme-label {
    display: block;
    cursor: pointer;
}

.light {
    --var-main-videos-bg: #F9F6F7;
    --var-main-controls-fc: #444444;
    --var-main-controls-bg: #f0efef;
    --var-main-controls-hover: #e2e2e2;
    --var-main-header-fc: #242324;
    --var-main-right-bg: #f0efef;
    --var-main-right-border: #e2e2e2;
    --var-main-user-fc: #00bd19;
    --var-main-chat-ifno-fc: #8b8b8b;
    --var-main-notify-bg: rgba(73, 255, 97, 0.582);
}

.main__fullcsreen-button {
    color: var(--var-main-header-fc);
    cursor: pointer;
    font-size: 28px;
    margin-top: 270px;
    margin-left: 5px;
    transition: 0.5s;
}

.main__fullcsreen-button:hover {
    color: var(--var-main-chat-ifno-fc);
}

/* Media querries  */

@media screen and (max-width: 480px) {}

/* Participants */

.main__participants_popup_container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: var(--var-main-controls-bg);
    color: var(--var-main-controls-fc);
    border-top: var(--var-main-right-border) 1px solid;
    border-right: var(--var-main-right-border) 1px solid;
    border-radius: 5px 5px 0px 0px;
    height: 300px;
    width: 180px;
    position: absolute;
    left: -250px;
    bottom: 70px;
    transition: 0.2s;
}

.main__message_emoji_btn {
    cursor: pointer;
    color: var(--var-main-header-fc);
    font-size: 23px;
    transition: 0.1s;
    margin-top: 5px;
    margin-left: 10px;
}

.main__message_emoji_btn:hover {
    color: var(--var-main-controls-fc);
}

.main__message_clip {
    cursor: pointer;
    color: var(--var-main-header-fc);
    font-size: 23px;
    transition: 0.1s;
    margin-top: 5px;
    margin-right: 10px;
}

.notify {
    position: absolute;
    top: 0px;
    width: 80%;
    height: 0;
    box-sizing: border-box;
    color: var(--var-main-controls-fc);
    text-align: center;
    background: var(--var-main-notify-bg);
    overflow: hidden;
    box-sizing: border-box;
    transition: height .2s;
}

#notifyType:before {
    display: block;
    margin-top: 15px;
}

.active {
    height: 50px;
}

.success:before {
    Content: "URL Copied";
}

.popup {
    position: absolute;
    visibility: hidden;
    background-color: var(--var-main-controls-bg);
    border: 1px solid var(--var-main-right-border);
    width: 350px;
    padding: 10px 40px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-align: center;
    top: 45%;
    left: 50%;
    opacity: 0;
    transition: 0.2s;
    z-index: 3;
    min-height: 300px;
}

.popup button {
    display: block;
    margin: 0 0 0 auto;
    background-color: transparent;
    border-radius: 5px;
    font-size: 35px;
    width: 50px;
    color: var(--var-main-header-fc);
    border: none;
    outline: none;
    cursor: pointer;
}

.popup button:hover {
    color: var(--var-main-controls-fc);
}

.popup h3 {
    margin-top: -40px;
}

.popup p {
    font-size: 20px;
    line-height: 25px;
    width: 100px;
}

.changeLanguage {
    display: flex;
    justify-content: space-between;
}

.main__username_popup {
    position: absolute;
    /* visibility: hidden; */
    background-color: var(--var-main-controls-bg);
    border: 1px solid var(--var-main-right-border);
    width: 350px;
    padding: 10px 20px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-align: center;
    top: 45%;
    left: 50%;
    /* opacity: 0; */
    transition: 0.2s;
    z-index: 4;
    min-height: 300px;
}

.main__username_popup h3 {
    margin-top: 10px;
    margin-bottom: -10px;
}

.main__username_popup img {
    margin-bottom: 10px;
}

#overlay {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
    transition: 0.2s;
}


.dropbtn {
    padding: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--var-main-right-bg);
    width: 90px;
}

.dropbtn {
    background: url('https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png') no-repeat left center;
    padding-left: 25px;
    width: 40px;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center;
    content: "";
    height: 16px;
    position: absolute;
    right: -10px;
    top: 10px;
    width: 16px;
}

.lang_en a {
    background: url('https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png') no-repeat left;
}

.lang_ru a {
    background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left;
}

.dropdown-content a {
    color: var(--var-main-header-fc);
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
}

.lang_en,
.lang_ru {
    padding-left: 15px;
}

.lang_en:hover,
.lang_ru:hover {
    background-color: var(--var-main-controls-hover);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main__username_popup {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s ease-in-out;
    z-index: 5;
}

.main__username_popup p {
    margin-bottom: -5px;
}

.main__username_popup_info {
    color: rgb(97, 97, 97);
    font-size: 11px;
    margin: 10px;
}

.main__username_popup_container input {
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: 1px solid var(--var-main-right-border);
    border-radius: 5px;
    color: var(--var-main-header-fc);
}

.main__username_popup_container_start-btn {
    text-align: center;
    font-size: 20px;
    margin: 15px;
    color: var(--var-main-header-fc);
    width: 110px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #009b15;
    transition: 0.2s ease-in-out;
}

.main__username_popup_container_start-btn:hover {
    background-color: #01c41b;
}

#usernameOverlay {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    transition: 0.2s;
}

#change_usernameInput {
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: 1px solid var(--var-main-right-border);
    border-radius: 5px;
    height: 25px;
    width: 140px;
    color: var(--var-main-header-fc);
}

.changeUsername {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.change_usernameInfo {
    display: flex;
    justify-content: flex-end;
    color: rgb(97, 97, 97);
    font-size: 11px;
    margin-top: 10px;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

date {
    color: var(--var-main-chat-ifno-fc);
    font-size: 0.8rem;
}

.feedback {
    color: var(--var-main-chat-ifno-fc);
    font-size: 0.8rem;
    padding: 5px 20px 0 20px;
}